.startPage{
    background-color: #1f2937;
}

.startPage h2{
    font-size: 48px;
    color: #f9faf8;
    font-weight: bold;
}

header{
    background-color: #1f2937;
}

.footer{
    background-color: #1f2937;
}