body{
    display: flex;
    flex-direction: column;
    margin: 0;
}

header{
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
}

header p{
    font-weight: bold;
}

.headerLinks{
    display: flex;
}

.headerLinks a{
    margin: 0 15px;
}

.startPage{
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    padding:  10%;
}

.startPage h2{
    font-size: 48px;
    font-weight: bold;
}

.startPage img{

}

.startPageContent{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.startPageContent button{
    display: flex;
    flex-grow: 1;
    flex-wrap:nowrap;
    width:max-content;
    max-height: 24px;
    background-color: #3882f6;
    border-radius: 15%;
    color: #f9faf8;
    font-size: 15px;
    font-weight: bold;
    padding: 14px;
    justify-content: center;
    align-items: center;
}

.startPageContent h2{
    margin: 0;
}

.infoAndPictures{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.infoAndPictures img{
    width: 125px;
    height: 125px;
    border: #3882f6;
}

.picturesGroup{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 15%
}

.picture1, .picture2, .picture3, .picture4{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 125px;
    padding: 40px;
}

.ThorQuoteContainer{
    padding: 45px 25%;
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ThorQuote .quote {
    font-size: 36px;
    font-style: light italic;
    color: #1f2937;
}

.ThorQuote .author{
    display: flex;
    font-size: 20px;
    font-weight: bold;
    justify-content: flex-end;
}

.signUpContainer{
    padding: 40px 10%;
}

.signUp{
    background-color: #3882f6;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 10%;
    align-items: center;
    border-radius: 15px;
}

.signUpTextContainer{
    color: white;
}

.signUpTextContainer h3{
    font-size: 22px;
    margin-bottom: 5px;
}

.signUpTextContainer p{
    margin-top: 5px;
}

.signUp button{
    display: flex;
    width: 10%;
    height: 13%;
    justify-content: center;
    border: 1.8px solid white;
    background-color: #3882f6;
    border-radius: 5px;
    color: white;
}

.footer{
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    justify-content: center;
    align-items: center;
}

